:root{
    --color-dark: #293241;
    --color-light: #BFD7E4;
    --color-lighter: #fff;
    --color-spot: #F67669;
    --color-title: #253B51;
    --color-text: #4E4958;
    --color-subText: #C1BCCC;
    --color-divisoria: #E6E6F0;
    --color-bg: #E5E5E5;
    --color-input: #FAFAFC;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
body{
    background-color: var(--color-bg);
 }

h1{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    
    color: var(--color-lighter);
}

h2{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
        
    color: var(--color-lighter);
}

h3{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    color: var(--color-title);

    margin-top: 17px;
}

.subLabel{
    display: inline-block;
    margin-left: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: var(--color-subText);
}

.subLabel:hover{
    color: var(--color-text);
}

.divisoria{
    background-color: var(--color-divisoria);
    width: 100%;
    height: 1px;
    margin-bottom: 32px;
}

input{
    background: var(--color-input);
    border: 1px solid var(--color-divisoria);
    border-radius: 8px;

    padding: 0 10px;
    margin-bottom: 15px;

    height: 55px;
    width: 100%;
    
}
textarea{
    background: var(--color-input);
    border: 1px solid var(--color-divisoria);
    border-radius: 8px;

    margin-bottom: 15px;

    width: 100%;
}

label{
    vertical-align: middle;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

form{
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--color-dark);
    color: var(--color-lighter);

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding-top: 107px;
    text-align: center;

}
img{
    margin: 24px;
}
.infPessoais{
    background-color: var(--color-spot);
    border-radius: 15px 15px 0 0 ;
    width: 750px;
    height: 133px;
    margin:auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    min-height: 350px;
    background-color: var(--color-lighter);
    border-radius: 0px 0px 20px 20px;
    
    width: 750px;
    padding: 64px;
    padding-top: 31px;

    margin: 0 auto;
    margin-bottom: 25px;
}

button[type="submit"]{
    width: 622px;
    height: 51px;
    background: var(--color-spot);
    border: 0px;
    border-radius: 8px;

    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-lighter);

    margin-top: 64px;
}

button:hover{
    background: #9e4d43;
}

.inputGroup-Wrapper, .inputGroup-Wrapper>.horario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 32px;
    
}
.inputGroup-Wrapper>.horario{
    column-gap: 10px;
}

input[name="NomeMentor"]{
    width: 50%;
}
input[type="checkbox"]{
    position: absolute;
    width: 10px;
    height: 10px;
    top:0px;
    left: 0px;
    opacity: 0;

}
.input-WrapperCheck{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 8px;
    align-items: center;
}
label[for="duvidasOk"]{
    display: flex;
    gap:16px;
    margin: 0px;
    /* Não consegui pensar em algo Melhor */
}
label[for="duvidasOk"]::before{
    margin-bottom: 0px;
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    border: 1px solid var(--color-divisoria);
    border-radius: 8px;
    vertical-align: middle;
}

.input-WrapperCheck input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}
.input-WrapperCheck input:focus + label::before{
    border: 2px solid var(--color-title);
}
input:invalid{
    border: 1px solid var(--color-spot);
}